.title {
  font-size: 32px;
}
@media screen and (max-width: 767px) {
  .title {
    font-size: 20px;
  }
}
.mainCard {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.num {
  font-size: 32px;
  color: var(--mainColor);
}
@media screen and (max-width: 767px) {
  .num {
    font-size: 20px;
  }
}
